<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/public/css/styles.css">
        <link rel="stylesheet" href="/public/css/dashboard.css">
        <link rel="stylesheet" href="/public/css/game.css">
        <link rel="stylesheet" href="/public/css/threads.css">
        <link rel="stylesheet" href="/public/css/post.css">
        <link rel="stylesheet" href="/public/css/profile.css">
        <link rel="stylesheet" href="/public/css/achievements.css">
        <link rel="stylesheet" href="/public/css/newpost.css">
        <link rel="styleshhet" href="/public/css/admin.css">
    </head>
    <body>
        {{{body}}}
    </body>
</html>