<!-- views/notifications.handlebars -->
<!DOCTYPE html>
<html lang="en">
    <a href="/dashboard" class="dashboard-btn">Return to Dashboard</a>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notifications</title>
    <link rel="stylesheet" href="/public/css/styles.css" />
  </head>
  <body>
    <div id="notification-wrapper">
      <h1>Notifications</h1>
      <div id="notifications-list">Loading...</div>
      <button id="mark-all-seen">Mark All as Read</button>
    </div>
    <script src="/public/js/main.js"></script>
  </body>
</html>
